
@import "../bootstrap/scss/bootstrap.scss";

//media

@media screen and (min-width:600px){ //grand format <<======

    #gameovertext {
        color: rgba(0, 0, 0, 0.856);
        font-size: 72px;
        top: 46vh;
        left:25vw;
        font-size: 2px;
        position: absolute;
        width: 740px;
        
        }
     
    @keyframes animegameover {
        
        0% {
            transform: rotate3d(0,0,0,0deg);
            font-size: 2px;
    
        }
        100% {
            transform: rotate3d(-360,0,360,-360deg);
            font-size: 100px;
        }
    }
}

@media screen and (max-width:600px){
    #btnRefresh {
        z-index: 1550;
        width: auto;
        height: auto;
        position: absolute;
        top: 60%;
        left: 40%;
    }


    @keyframes animegameover {
        0% {
            transform: rotate3d(0,0,0,0deg);
            font-size: 2px;
    
        }
        100% {
            transform: rotate3d(-360,0,360,-360deg);
            font-size: 40px;
        }
    }


//première colonne

.img-funcky {
    position:absolute;
    height: 300px!important;
    margin-top: 280px!important;
}

//fond transparent 2ème colonne
.bg {
        background-color: rgb(162,143,91,0.6);
        height: 640px!important;
        width: 500px!important;
        margin-top: 20px!important;
    }

    //gameover

#gameovertext{
            font-size: 82px;
            color: rgba(0, 0, 0, 0.829);
            top: 46vh;
            left:20vw;
            font-size: 2px;
            position: absolute;
            width: 740px;
        }
#btnRefresh {
   
    z-index: 1550;
    width: auto;
    height: auto; 
    opacity: 0.8;
    position: absolute;
    top: 58%;
    left: 40%;
}

}

@media screen and (min-width : 900px){
    #btnRefresh {
        z-index: 1550;
        width: auto;
        height: auto;
        position: absolute;
        top: 70%;
        left: 46%; 
    }
    }


body {
    z-index: 99;
    background: url("../assets/img/bg-donkey.jpg") no-repeat center center fixed,
                url("../assets/img/multibanane.jpg");
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}

//style console
#console {
z-index: 1600;
width: 300px;
height: 45px;
background-color: #444;
border-top:0px;
color: white;
padding-top : 0px;
border: rgba(0, 0, 0, 0.911);
}

#onglet:hover{cursor: pointer;}

#onglet{
    background-color: rgba(0, 0, 0, 0.911);
    border-top:0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:150px;
    height :40px;
    margin-left: 70px;
    text-align: center;
    color: white;
    font-size: 17px;
}

#fenetre-console{
    z-index: 1600;
    top: -208px;
    position: absolute;
     overflow: hidden;
}

#retour-console{
z-index: 1600;
overflow-y: scroll;
background-color:rgba(0, 0, 0, 0.829);
width: 300px;
height: 165px;
border-bottom: 0px;
color: white;
}

#gameover {
    position: fixed;
    width: 100%;
    background: url("../assets/img/bg-donkey.jpg") no-repeat center center , url("../assets/img/multibanane.jpg");
    height: 650px;
    z-index: 1500;
    visibility: hidden;
}
//1ere col
.bg {
    background-color: rgb(162,143,91,0.6);
    height: 590px;
    width: 500px;
    margin-top: 20px;
}


.btn1{
    background-image: url(../assets/img/bananed.jpg);
    background-size: cover;
    width:60px;
	height:60px;
    border-radius:50%;
    margin-top: -21px;
}

.btn2 {
    background-image: url(../assets/img/baril.jpg);
    background-size: cover;
    width:60px;
	height:60px;
    border-radius:50%;
    margin-top: -21px;
}

.btn3 {
    background-image: url(../assets/img/zzz.jpg);
    background-size: cover;
    width:60px;
	height:60px;
    border-radius:50%;
    margin-top: -21px;
}

.btn:hover {
    opacity: 0.6;
}


//2eme col
.img-funcky {
    height: 300px;
    margin-top: 250px;
}

    progress {
        display: block; /* default: inline-block */
        width: 200px;
        margin: 1em auto;
        padding: 4px;
        border: 0 none;
        background: #444;
        border-radius: 20px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
                    0px 1px 0px rgba(255,255,255,0.2);
     }
     progress::-moz-progress-bar {
        background: rgb(28,157,40);
        background: linear-gradient(90deg, rgba(28,157,40,1) 0%, rgba(250,245,11,1) 100%);
        
        border-radius: 6px;
        box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
                    0 2px 5px 0px rgba(0,0,0,0.3);
     }

//animation rotate game over


@keyframes refreshanim
{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}

}

#btnRefresh:hover {
    cursor: pointer;
    animation-name: refreshanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes deroulement {
    0%{top:-210 px ;transform: rotate3d(0,0,0,0deg);
    }
    100%{top:0px; transform: rotate3d(0,360,360,360deg);
    }
}
@keyframes enfilage {
    0%{ top:0px;transform: rotate3d(0,360,360,360deg)}
    100%{ top : -210px;transform: rotate3d(0,0,0,0deg);}
}

